<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label" >Title</label>
      <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required />
      <div class="valid-feedback">
        Looks good!
      </div>
      </div>
      

      <div class="mb-3">
        <label for="description" class="form-label" >Description</label>
        <textarea
        name="listing[description]"
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">
        Please fill the short description!
      </div>
      </div>
      
     
      <div class="mb-3 col">
        <label for="imageFilename">Image Filename:</label>
        <input
          name="listing[image][filename]"
          type="text"
          class="form-control"
        />
        </div>
      <div class="mb-3">
        <label for="image" class="form-label" >Image URL</label>
        <input
        name="listing[image][url]"
        placeholder="enter image URL/Link"
        type="text"
        class="form-control"
      />
     </div>

     <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label" >Price</label>
        <input name="listing[price]" placeholder="1,500" type="number" class="form-control" required/>
        <div class="invalid-feedback">
          Please fill the vaild price!
        </div>

      </div>

      <div class="mb-3 col-md-8">
        <label for="country" class="form-label" >Country</label>
        <input name="listing[country]" placeholder="india" type="text" class="form-control" required/>
        <div class="invalid-feedback">
          Please fill the vaild country name !
        </div>
        </div>
        

     </div>
      
      
      
      <div class="mb-3">
        <label for="location" class="form-label" >Location</label>
      <input
        name="listing[location]"
        placeholder="New-Delhi, Delhi"
        type="text"
        class="form-control"
        required
      />
      <div class="invalid-feedback">
        Please Enter the vaild city!
      </div>
      </div>
      <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
</div>
</div>